<header class="uil-header">
    <div class="uil-wrapper uil-flex">
        <a class="uil-logo" href="/">
            {{{logo.svg}}}
        </a>
        <div class="uil-quote">
            <div class="uil-title-quote-en">
                <i class="fa fa-quote-left"></i>
                Any decent engine needs some uil to work correctly.
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="uil-title-quote-fr">
                <i class="fa fa-quote-left"></i>
                Un moteur a besoin d'un peu d'uil pour fonctionner correctement.
                <i class="fa fa-quote-right"></i>
            </div>
            <div class="uil-flex uil-proj-links">
                <a class="fa fa-github" href="https://github.com/uil-lang/uil-rs"/>
                <a class="fa fa-code-fork" href="https://github.com/uil-lang/uil-rs/fork" />
            </div>
        </div>
    </div>
</header>
